{% extends "padre.html" %}

{% block linkCSS %}
<link rel="stylesheet" href="../static/css/productos.css" />
{% endblock %}


{% block usuarioCuenta %}
<!-- _________Tipo de Cuenta y acciones__________ -->

{{ idUsuario.nombre }}

{% endblock %}

{% block accionesTipocuenta %}
<!-- Acciones de Cuenta -->


{% if idUsuario.tipo == "Anonimo" %}
<li><a href="../registroInicio.php">Iniciarsesion</a></li>
{% endif %}

{% if idUsuario.tipo == "Registrado" %}
<li><a href="">Opcion</a></li>
{% endif %}

{% if idUsuario.tipo == "Moderador" %}
<li><a href="../comentarios.php">Borrar y Editar Comentarios</a></li>

{% endif %}

{% if idUsuario.tipo == "Gestor" %}
<li><a href="../productos.php">Borrar y Editar Comentarios</a></li>
<li><a href="../nuevaCripto.php">Añadir productos </a></li>

{% endif %}

{% if idUsuario.tipo == "Super" %}
<li><a href="">Modficar Permisos</a></li>

{% endif %}


{% endblock %}


{% block central %}

    <h1>Criptomonedas</h1>
<main>


    {% for producto in productos %}
    
    <div class="ContProducto" >
        {% if producto['id'] > 0 %}
        <div>
            <h4>{{producto['nombre']}}</h4>
            <p>{{producto['descripcion']}}</p>
            {% if idUsuario.tipo == "Gestor" %}
            <a href="../editarProducto.php?nomPro=&quot;{{producto['nombre']}}&quot;"><img id="botonModificarProducto" src="/static/image/lapiz.png"> </a>
      <a href="../eliminarCripto.php?id={{producto['id']}}"><img id="botonEliminarProducto" src="/static/image/eliminar.png"> </a>
            {% endif %}
        </div>
        {% endif %}
    </div>


    {% endfor %}

</main>

{% endblock %}