{% extends "padre.html" %}



{% block linkCSS %}
<link rel="stylesheet" href="../static/css/producto_imprimir.css" />
{% endblock %}

{% block central %}
  <body>
    <div class="content" id="Centro">
      <main id="Centro-Grid">

        <img src="../static/image/bitcoin2.png" />

        <h1>BITCOIN</h1>
        <h2>CriptoShop</h2>
        <h3>Precio</h3>
        
        <p>
          <br />El 1 de noviembre de 2008 una persona (o grupo de personas),
          identificada con el seudónimo de Satoshi Nakamoto, envió un mensaje a
          una lista de correo sobre criptografía describiendo un proyecto para
          crear una moneda digital que sirviera para contabilizar y transferir
          valor. De este modo nacía Bitcoin, la primera criptomoneda, una divisa
          alternativa con un control descentralizado, sin que sea respaldado, ni
          controlado, por ningún Estado o banco central. <br /><br />
          El control de las transacciones realizadas con la moneda se realiza a
          través de una base de datos descentralizada, una cadena de bloques (en
          inglés blockchain), que funciona como una base de datos de
          transacciones financieras públicas que no necesita de intermediarios.
          Esta cadena de bloques se suele describir como un libro contable
          digital, distribuido y a prueba de manipulaciones, en el que queda
          reflejado de forma permanente y verificable el histórico de todas las
          transacciones realizadas
          
          <br /><br />
          Mas informacion en:
          <a href="https://es.wikipedia.org/wiki/Historia_de_bitcoin"
          >Historia_de_bitcoin</a
          >
        </p>
        <a href="file:///C:/Users/franc/OneDrive/Escritorio/UGR/3%C2%BAAno/2%C2%BACuatri/SIWB/producto_imprimir.html" class="boton_imprimir">Imprimir</a>
      </main>
      
      <aside id="Centro-aside">
        <nav>
          <ul>
            <li><a href="https://www.xataka.com/basics/criptomonedas-que-como-funcionan-que-otras-existen-bitcoin">Que son las criptomonedas ?</a></li>
            <li><a href="https://www.xataka.com/especiales/que-es-blockchain-la-explicacion-definitiva-para-la-tecnologia-mas-de-moda">Que es BlockChain?</a></li>
            <li><a href="https://es.wikipedia.org/wiki/Historia_de_bitcoin">Cuando fueron creadas?</a></li>
            <li><a href="https://academy.bit2me.com/legalidad-en-bitcoin/#:~:text=La%20respuesta%20corta%20es%3A%20No,que%20la%20regulaci%C3%B3n%20es%20homog%C3%A9nea.">Legalidad de las criptomonedas</a></li>
            <li><a href="https://es.dailyforex.com/forex-articles/2017/11/c%C3%B3mo-beneficiarse-de-las-criptomonedas-parte-1-12-de-noviembre-2017/85562">Como puedes beneficiarte</a></li>
          </ul>
        </nav>
      </aside>
        
    </div>
    </body>

  {% endblock %}
    