<html>
    <head> 
        <title></title>
    </head>

    <body > 
        <h1>Insertar ruta de fotos</h1>
        <p>
            <form action="../validarFoto.php" method="POST" enctype="multipart/form-data">
                <tr><td>Nombre:</td><td> <input type="text" name="textNombre" value=""></td></tr>
                <tr><td>Foto:</td><td>
                     <input type="file" name="foto" value=""></td></tr>
                <tr><td><input type="submit" name="enviar" value="Enviar"></td></tr>


            </form>
        </p>
    </body>
</html>
